{
    "arrowParens": "always",
    "printWidth": 120,
    "proseWrap": "always",
    "trailingComma": "all",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 80
            }
        }
    ]
}
